extends layout

block content
  h1 Books
  
  a(href="/books/new").o-btn.o-btn-primary.u-mb-3 Create new book

  table.o-table
    thead 
      tr 
        th Title
        th Author 
        th Genre 
        th Year

    tbody 
    for book in books 
      tr
        td 
          a(href=`/books/${book.id}`) #{book.title}
        td #{book.author}
        td #{book.genre}
        td #{book.year}